*{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.navbar{
    background-color: #242424;
    color: #FFFFFF;
}

.nav-link{
    background-color: #242424;
    color: #FFFFFF;
    border-radius: 7px;
    margin: 0.25em;
}

.nav-link:hover{
    color: #242424;
    background-color: #FFFFFF;
}

#jum .jumbotron{
    background: transparent !important;
}

#jum{
    background-color: #EEE;
}

#jum:hover{
    background-color: #696361;
}

#jum a{
    color:#000000;
}

#jum a:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.SMIcons {
    padding: 20px;
    font-size: 30px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    margin-right: 30px;
    border-radius: 7px;
}

.SMIcons:hover {
    opacity: 0.7;
}

#EndList a{
    color: #FFFFFF;
    display: inline;
    list-style: none;
}

#test{
    cursor: progress;
    padding-left: 3em;
}

#test:hover{
    background: #242424;
}
