*{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background-color: #242424;
    color: #FFFFFF;
}

.nav-link{
    background-color: #242424;
    color: #FFFFFF;
    border-radius: 7px;
    margin: 0.25em;
}

.nav-link:hover{
    color: #242424;
    background-color: #FFFFFF;
}
